@model HotelProject.ViewModels.Site.HomeIndexVM


@if (TempData["success"] != null)
{
    <script src="~/Admin/assets/plugins/sweet-alert/sweetalert2.all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        setTimeout(loadAfterTime, 1500)
        function loadAfterTime() {
            Swal.fire({
                icon: 'success',
                title: 'Başarılı',
                confirmButtonText: 'Tamam',
                text: '@Html.Raw(TempData["success"])'
            });
        }

    </script>
}

@*@if (TempData["iptal"] != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript">
            setTimeout(loadAfterTime, 1500)
            function loadAfterTime() {
                swal('Rezervasyonunuz İptal Edilmiştir!', "İyi Günlerde Görüşmek Üzere", "error");
            }
        </script>
    }
    @if (TempData["onay"] != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript">
            setTimeout(loadAfterTime, 1500)
            function loadAfterTime() {
                swal('Rezervasyonunuz Başarıyla Oluşturulmuştur!', "İyi Tatiller!", "success");
            }
        </script>
    }*@

<body>
    <div class="page-wrapper">
        <div class="loader-wrap">
            <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
            <div class="layer layer-one"><span class="overlay"></span></div>
            <div class="layer layer-two"><span class="overlay"></span></div>
            <div class="layer layer-three"><span class="overlay"></span></div>
        </div>
        <section class="banner-section style-three">
            <div class="banner-shape-1"></div>
            <div class="swiper-container banner-slider-2">
                <div class="swiper-wrapper">
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="banner-feature-image d-none d-lg-block" style="background-image: url(/assets/images/main-slider/banner-3.jpg);"></div>
                        <div class="content-outer">
                            <div class="content-box">
                                <div class="inner">
                                    <h4>Yaz Tatili</h4>
                                    <h1>
                                        Tatil İçin <br>
                                        Lüks <br>
                                        Otel.
                                    </h1>
                                    <div class="text">Siz de tatiliniz için  <br> en iyisini istemez misiniz?</div>
                                    @*<div class="link-box">
                                            <a onclick="asagiKaydir()" class="btn-1">Rezervasyon Yapın<span></span></a>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slide Item -->
                    <div class="swiper-slide">
                        <div class="banner-feature-image d-none d-lg-block" style="background-image: url(/assets/images/main-slider/banner-3.jpg);"></div>
                        <div class="content-outer">
                            <div class="content-box">
                                <div class="inner">
                                    <h4>Yaz Tatili</h4>
                                    <h1>
                                        Evinizde <br> yaşıyormuş <br>
                                        gibi rahat.
                                    </h1>
                                    <div class="text">Siz de tatiliniz için  <br> en iyisini istemez misiniz?</div>
                                    @*<div class="link-box">
                                            <a href="room-1.html" class="btn-1">Rezervasyon Yapın <span></span></a>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-slider-nav">
                <div class="banner-slider-control banner-slider-button-prev hvr-zoom-1 hvr-zoom-1-primary"><span><i class="icon-2"></i></span></div>
                <div class="banner-slider-control banner-slider-button-next hvr-zoom-1 hvr-zoom-1-primary"><span><i class="icon-3"></i></span> </div>
            </div>
        </section>
        <div class="hotel-booking-form-1 gray-bg">
            <div class="auto-container">
                <div class="hotel-booking-form-1-wrap">
                    <form asp-action="Index" method="post" class="hotel-booking-form-1-form flex-grow-1 d-flex align-items-end">
                        <div class="form-group">
                            <p class="hotel-booking-form-1-label text-lg-center">Giriş:</p>
                            <input class="" type="text" name="girisTarih" id="nd_booking_archive_form_date_range_from" value="" autocomplete="off" style="padding: 0 20px;" />
                        </div>
                        <div class="form-group">
                            <p class="hotel-booking-form-1-label text-lg-center">Çıkış:</p>
                            <input class="" type="text" name="cikisTarih" id="nd_booking_archive_form_date_range_to" value="" autocomplete="off" style="padding: 0 20px;" />
                        </div>

                        <div class="form-group">
                            <p class="hotel-booking-form-1-label text-lg-center">Telefon No</p>
                            <input placeholder="Telefon No" class="" minlength="8" maxlength="20" type="tel" name="telefon" autocomplete="off" style="padding: 0 5px;">
                        </div>
                        <div class="form-group">
                            <p class="hotel-booking-form-1-label text-lg-center">Pansiyon</p>
                            <select name="pansiyon">
                                @foreach (var item in Model.Pansiyonlars)
                                {
                                    <option value="@item.Idno">@item.Baslik</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <p class="hotel-booking-form-1-label text-lg-center">Odalar</p>
                            <select name="odatip">
                                @foreach (var item in Model.OdaTips)
                                {
                                    <option value="@item.Idno">@item.Baslik</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <p class="hotel-booking-form-1-label text-lg-center">Yetişkin</p>
                            <select name="Yetiskin">
                                <option value="1">1 Yetişkin</option>
                                <option value="2">2 Yetişkin</option>
                                <option value="3">3 Yetişkin</option>
                                <option value="4">4 Yetişkin</option>
                                <option value="5">5 Yetişkin</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <p class="hotel-booking-form-1-label text-lg-center">Çocuk</p>
                            <select name="cocuk">
                                <option value="0">Çocuk Yok</option>
                                <option value="1">1 Çocuk</option>
                                <option value="2">2 Çocuk</option>
                                <option value="3">3 Çocuk</option>
                                <option value="4">4 Çocuk</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="" class="btn-1">Rezervasyon Yap<span></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Feature -->
        <section class="section-padding">
            <div class="gray-bg p_absolute l_0 b_0 r_0 h_340"></div>
            <div class="auto-container">
                <div class="section_heading text-center mb_60">
                    <span class="section_heading_title_small">Özel Teklifler</span>
                    <h2 class="section_heading_title_big">Öne Çıkan Özel <br> Teklifler</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-1-block text-center wow fadeInLeft" data-wow-delay=".2s" data-wow-duration=".8s">
                            <div class="feature-1-image hvr-img-zoom-1"><img src="~/assets/images/resource/feature-image-1.jpg" alt=""></div>
                            <h4 class="feature-1-title">Güne <br> Antalya'da Başlayın</h4>
                            <p class="feature-1-text">Eşsiz sahillerimizde güne başlamaya ne dersiniz?</p>
                            <div class="feature-1-link"><a class="feature-1-link-btn hvr-zoom-1 hvr-zoom-1-primary" href="service-details.html"><i class="icon-5"></i></a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-1-block text-center wow fadeInLeft" data-wow-delay=".2s" data-wow-duration=".8s">
                            <div class="feature-1-image hvr-img-zoom-1"><img src="~/assets/images/resource/feature-image-2.jpg" alt=""></div>
                            <h4 class="feature-1-title">Ücretsiz Kahvaltı <br> Paketleri</h4>
                            <p class="feature-1-text">Açık büfe kahvaltı ile güne güzel ve mutlu başlayın.</p>
                            <div class="feature-1-link"><a class="feature-1-link-btn hvr-zoom-1 hvr-zoom-1-primary" href="service-details.html"><i class="icon-5"></i></a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-1-block text-center wow fadeInLeft" data-wow-delay=".2s" data-wow-duration=".8s">
                            <div class="feature-1-image hvr-img-zoom-1"><img src="~/assets/images/resource/feature-image-3.jpg" alt=""></div>
                            <h4 class="feature-1-title">Eşsiz Deniz <br> Manzarası</h4>
                            <p class="feature-1-text">Denize sıfır otelimiz ile <br> Akdeniz ayağınızın altında.</p>
                            <div class="feature-1-link"><a class="feature-1-link-btn hvr-zoom-1 hvr-zoom-1-primary" href="service-details.html"><i class="icon-5"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- About -->
        <section class="section-padding gray-bg pt-0">
            <div class="auto-container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-1-image-wrap mb_30 p_relative">
                            <div class="about-1-shape-1" data-parallax='{"y": -50}'></div>
                            <div class="about-1-image-1 hvr-img-zoom-1"><img src="~/assets/images/resource/about.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="col-lg-6 ps-lg-5">
                        <div class="section_heading mb_20">
                            <span class="section_heading_title_small">Royalking Hakkında</span>
                            <h2 class="section_heading_title_big">Lüks <br> Otelimiz Antalya'nın <br>Güzel Sahillerinden Birindedir</h2>
                        </div>
                        <p class="aboout-1-desc mb_30">
                            Otelimiz lüks standartlarının en üstünde olup hizmetimizde sınır yoktur.
                        </p>
                        <div class="about-1-btn mb_30">
                            <a href="~/About/Index" class="btn-1">Daha fazlası<span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Room -->
        <section class="section-padding">
            <div class="auto-container">
                <div class="section_heading text-center mb_55">
                    <span class="section_heading_title_small">KEŞFET</span>
                    <h2 class="section_heading_title_big">Odalar & Suitler</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="room-1-block wow fadeInUp" data-wow-delay=".2s" data-wow-duration=".8s">
                            <div class="room-1-image hvr-img-zoom-1">
                                <img src="~/assets/images/resource/room-1.jpg" alt="">
                            </div>
                            <div class="room-1-content">
                                <p class="room-1-meta-info">Geceliği <span class="theme-color">100₺</span>'den başlayan fiyatlarla</p>
                                <div class="room-1-rating">
                                    <i class="icon-6"></i>
                                    <i class="icon-6"></i>
                                    <i class="icon-6"></i>
                                    <i class="icon-6"></i>
                                    <i class="icon-7"></i>
                                </div>
                                <h4 class="room-1-title mb_20"><a href="room-details.html">Single room</a></h4>
                                <p class="room-1-text mb_30">
                                    Tek kişilik odalardır. İçerisinde tek kişilik ya da bir büyük çift kişilik yatak bulunur.
                                </p>
                                <div class="link-btn"><a href="~/Odalar/Oda" class="btn-1 btn-alt">Odalarımız<span></span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="room-1-block wow fadeInUp" data-wow-delay=".2s" data-wow-duration=".8s">
                            <div class="room-1-image hvr-img-zoom-1">
                                <img src="~/assets/images/resource/room-11.jpg" alt="">
                            </div>
                            <div class="room-1-content">
                                <p class="room-1-meta-info">Geceliği <span class="theme-color">800₺</span>'den başlayan fiyatlarla</p>
                                <div class="room-1-rating">
                                    <i class="icon-6"></i>
                                    <i class="icon-6"></i>
                                    <i class="icon-6"></i>
                                    <i class="icon-6"></i>
                                    <i class="icon-7"></i>
                                </div>
                                <h4 class="room-1-title mb_20"><a href="room-details.html">Quad Room</a></h4>
                                <p class="room-1-text mb_30">Dört kişinin konaklayabileceği odalardır. Bir çift kişilik ve iki tek kişilik yatak bulunur.</p>
                                <div class="link-btn"><a href="~/Odalar/Oda" class="btn-1 btn-alt">Odalarımız<span></span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="room-1-block wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">
                            <div class="room-1-image hvr-img-zoom-1">
                                <img src="~/assets/images/resource/room-13.jpg" alt="">
                            </div>
                            <div class="room-1-content">
                                <p class="room-1-meta-info">Geceliği <span class="theme-color">2000₺</span>'den başlayan fiyatlarla</p>
                                <div class="room-1-rating">
                                    <i class="icon-6"></i>
                                    <i class="icon-6"></i>
                                    <i class="icon-6"></i>
                                    <i class="icon-6"></i>
                                    <i class="icon-6"></i>
                                </div>
                                <h4 class="room-1-title mb_20"><a href="room-details.html">King Suite</a></h4>
                                <p class="room-1-text mb_30">
                                    Oturma odası, mutfak ve banyodan oluşan oldukça geniş lüks odalardır.
                                </p>
                                <div class="link-btn"><a href="~/Odalar/Oda" class="btn-1 btn-alt">Odalarımız<span></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Projects -->
        <section class="section-padding p-0">
            <div class="gray-bg p_absolute l_0 b_0 r_0 h_140"></div>
            <div class="auto-container">
                <div class="project-1-wrapper">
                    <div class="swiper-container single-item-carousel">
                        <div class="swiper-wrapper">
                            <!-- Slide Item -->
                            <div class="swiper-slide">
                                <div class="project-1-image" style="background-image: url(/assets/images/resource/project-1.jpg);">
                                    <div class="project-1-block">
                                        <span class="section_heading_title_small">Keşfet</span>
                                        <h2 class="section_heading_title_big fs_50 mb_20">Odalar & Suitler</h2>
                                        <p class="mb-0">
                                            Rüya gibi odalarımız özel ışıklandırma ve tasarımlarıyla güzel olmaktadır.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide Item -->
                            <div class="swiper-slide">
                                <div class="project-1-image" style="background-image: url(/assets/images/resource/project-2.jpg);">
                                    <div class="project-1-block">
                                        <span class="section_heading_title_small">Keşfet</span>
                                        <h2 class="section_heading_title_big fs_50 mb_20">Odalar & Suitler</h2>
                                        <p class="mb-0">
                                            Rüya gibi odalarımız özel ışıklandırma ve tasarımlarıyla güzel olmaktadır.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide Item -->
                            <div class="swiper-slide">
                                <div class="project-1-image" style="background-image: url(/assets/images/resource/project-3.jpg);">
                                    <div class="project-1-block">
                                        <span class="section_heading_title_small">Keşfet</span>
                                        <h2 class="section_heading_title_big fs_50 mb_20">Odalar & Suitler</h2>
                                        <p class="mb-0">
                                            Rüya gibi odalarımız özel ışıklandırma ve tasarımlarıyla güzel olmaktadır.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-nav-style-1 project-1-nav">
                            <div class="slider-control slider-button-prev hvr-zoom-1 hvr-zoom-1-primary"><span><i class="icon-3"></i></span></div>
                            <div class="slider-control slider-button-next hvr-zoom-1 hvr-zoom-1-primary"><span><i class="icon-2"></i></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Amenities -->
        <section class="section-padding gray-bg">
            <div class="auto-container">
                <div class="team-1-wrapper">
                    <div class="section_heading text-center mb_50">
                        <span class="section_heading_title_small">Keşfet</span>
                        <h2 class="section_heading_title_big mb_20">En İyi Olanaklarımız</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing integer ultrices suspendisse varius etiam est. <br> Est, felis, tempus nec vitae orci sodales Metus, velit nec at diam in sed. Massa dui ipsum ornare sagittis dolor <br> sagittis amet odio est. Sit semper et velit fusce.</p>
                    </div>
                    <div class="row">
                        <div class="col_xl_five col-lg-3 col-md-6">
                            <div class="icon_box-1">
                                <div class="icon_box-1-icon"><i class="icon-8"></i></div>
                                <p class="fw_500">Hızlı İnternet</p>
                            </div>
                        </div>
                        <div class="col_xl_five col-lg-3 col-md-6">
                            <div class="icon_box-1">
                                <div class="icon_box-1-icon"><i class="icon-9"></i></div>
                                <p class="fw_500">Kahve</p>
                            </div>
                        </div>
                        <div class="col_xl_five col-lg-3 col-md-6">
                            <div class="icon_box-1">
                                <div class="icon_box-1-icon"><i class="icon-10"></i></div>
                                <p class="fw_500">Banyo</p>
                            </div>
                        </div>
                        <div class="col_xl_five col-lg-3 col-md-6">
                            <div class="icon_box-1">
                                <div class="icon_box-1-icon"><i class="icon-11"></i></div>
                                <p class="fw_500">Park Alanları​</p>
                            </div>
                        </div>
                        <div class="col_xl_five col-lg-3 col-md-6">
                            <div class="icon_box-1">
                                <div class="icon_box-1-icon"><i class="icon-12"></i></div>
                                <p class="fw_500">Yüzme havuzu</p>
                            </div>
                        </div>
                        <div class="col_xl_five col-lg-3 col-md-6">
                            <div class="icon_box-1">
                                <div class="icon_box-1-icon"><i class="icon-13"></i></div>
                                <p class="fw_500">ÇAMAŞIR MAKİNESİ</p>
                            </div>
                        </div>
                        <div class="col_xl_five col-lg-3 col-md-6">
                            <div class="icon_box-1">
                                <div class="icon_box-1-icon"><i class="icon-14"></i></div>
                                <p class="fw_500">KAHVALTI</p>
                            </div>
                        </div>
                        <div class="col_xl_five col-lg-3 col-md-6">
                            <div class="icon_box-1">
                                <div class="icon_box-1-icon"><i class="icon-15"></i></div>
                                <p class="fw_500">Spa & Sağlık</p>
                            </div>
                        </div>
                        <div class="col_xl_five col-lg-3 col-md-6">
                            <div class="icon_box-1">
                                <div class="icon_box-1-icon"><i class="icon-16"></i></div>
                                <p class="fw_500">Toplantı Odası</p>
                            </div>
                        </div>
                        <div class="col_xl_five col-lg-3 col-md-6">
                            <div class="icon_box-1">
                                <div class="icon_box-1-icon"><i class="icon-17"></i></div>
                                <p class="fw_500">Açık Büfe</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonials -->
        <section class="section-padding">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="section_heading mb_20">
                            <span class="section_heading_title_small">Referanslar</span>
                            <h2 class="section_heading_title_big">Bizim Hakkımızda <br> Ne Dediler ?</h2>
                        </div>
                        <p class="testimonial-1-desc">Bizi tercih eden misafirlerimizin bizim <br> hakkımızdaki düşünceleri.</p>
                        <div class="slider-nav-style-2 testimonial-1-nav">
                            <div class="slider-control slider-button-prev hvr-zoom-1 hvr-zoom-1-primary"><span><i class="icon-3"></i></span></div>
                            <div class="slider-control slider-button-next hvr-zoom-1 hvr-zoom-1-primary"><span><i class="icon-2"></i></span> </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="testimonial-1-block-wrap">
                            <div class="testimonial-1-shape-1"><img src="~/assets/images/shape/pattern-1.png" alt=""></div>
                            <div class="swiper-container two-item-carousel">
                                <div class="swiper-wrapper">
                                    <!-- Slide Item -->
                                    <div class="swiper-slide">
                                        <div class="testimonial-1-block">
                                            <div class="testimonial-1-quote-icon"><i class="icon-18"></i></div>
                                            <p class="testimonial-1-review-desc">
                                                “Otel gerçekten çok güzel. Çalışanlar bizimle çok iyi ilgilendi.
                                                Otelde her şey muazzam ve kusursuzdu. Hijyen olarak eksiksizdi. Odalar çok temizdi.
                                                Yemeklerin hepsi çok lezzetli ve tazeydi.”
                                            </p>
                                            <h4 class="testimonial-1-name">Jacob Jones</h4>
                                            <p class="testimonial-1-designation">Manager</p>
                                            <div class="testimonial-1-author-thumb">
                                                <img src="~/assets/images/resource/testimonial-1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Slide Item -->
                                    <div class="swiper-slide">
                                        <div class="testimonial-1-block">
                                            <div class="testimonial-1-quote-icon"><i class="icon-18"></i></div>
                                            <p class="testimonial-1-review-desc">
                                                “Otel gerçekten çok güzel. Çalışanlar bizimle çok iyi ilgilendi.
                                                Otelde her şey muazzam ve kusursuzdu. Hijyen olarak eksiksizdi. Odalar çok temizdi.
                                                Yemeklerin hepsi çok lezzetli ve tazeydi.”
                                            </p>
                                            <h4 class="testimonial-1-name">Ralph Edwards</h4>
                                            <p class="testimonial-1-designation">Manager</p>
                                            <div class="testimonial-1-author-thumb">
                                                <img src="~/assets/images/resource/testimonial-2.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
