@model List<HotelProject.Models.Rezervasyon>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Mevcut Rezervasyonlar</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->

        <div class="card">
            <div class="row p-b-20">
                <div class="col-md-6 col-sm-6 col-6">
                    <div class="btn-group">
                        <a href="#" id="odaDurumButon" onclick="odaDurum()" class="btn btn-info" style=" margin: 16px 14px 15px 12px;">
                            Oda Durumları İncele <i class="fa fa-bed"></i>
                        </a>
                    </div>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Oda Başlık</th>
                                <th>Müşteri Adı</th>
                                <th>Giriş Tarihi</th>
                                <th>Çıkış Tarihi</th>
                                <th>Kişi</th>
                                <th>Pansiyon</th>
                                <th>Durum</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                string durum = "";
                                if (item.Act == 1)
                                    durum = "Beklemede";
                                else if (item.Act == 2)
                                    durum = "Odada";
                                else if (item.Act == 3)
                                    durum = "Çıkış Yaptı";
                                <tr class="odd gradeX">
                                    <td>@item.OdaTip.Baslik</td>
                                    <td>@item.Musteri.Adisoyadi</td>
                                    <td>@item.GirisTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                    <td>@item.CikisTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                    <td>@item.Yetiskin Yetişkin @item.Cocuk Çocuk</td>
                                    <td>@item.Pansiyonlars.Baslik</td>
                                    <td>@durum</td>
                                    <td>
                                        <a style="margin-right: 4px;" href="~/Admin/Rezervasyon/RezervasyonGetir/@item.Idno" class="btn btn-tbl-edit btn-xs btn-secondary" title="İncele">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </a>
                                        @if (item.Act == 1)
                                        {
                                            <a style="margin-right: 4px;" href="~/Admin/Rezervasyon/RezervasyonOnay/@item.Idno" class="btn btn-tbl-edit btn-xs btn-secondary" title="Onayla">
                                                <i class="fa-regular fa-circle-check"></i>
                                            </a>
                                        }
                                        @if (item.Act == 2)
                                        {
                                            <a style="margin-right: 4px;" data-bs-target=".rezCikis" data-idno="@item.Idno" class="btn btn-tbl-edit btn-xs btn-secondary" title="Çıkış Yaptı">
                                                <i class="fa-solid fa-right-from-bracket"></i>
                                            </a>

                                        }

                                        <a style="margin-right: 4px;" href="~/Admin/Rezervasyon/RezervasyonSil/@item.Idno" class="btn btn-tbl-edit btn-xs btn-danger" title="Düzenle"><i class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->

                <div class="modal fade odaDurumModal" id="odaDurumModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <form action="~/yonetim/rezervasyon/RezervasyonCikis" method="post">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">Rezervasyon</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <div id="odaDurumTablo"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer"></div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <aside class="control-sidebar control-sidebar-dark">
            </aside>
        </div>
    </div>
</section>





@section Scripts{
    <script src="~/admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script>
        $('.rezOnayla').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var idno = button.data('idno')

            $('#OnayId').val(idno);

        })
        $('.rezCikis').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var idno = button.data('idno')

            $('#CikisId').val(idno);

        })
    </script>
    <script>
        function odaDurum() {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: '@Url.Action("OdaDurum", "Rezervasyon")',
                data: {
                    'idno': 0
                },
                success: function (data) {
                    if (data != null) {
                        $('.odaDurumModal').modal('show');
                        let w = jQuery.parseJSON(data);
                        let tablehtml = "<table class='table table-sm table-striped mb-0'><thead><tr><th>Oda No</th><th>Oda Adı</th><th>Durum</th></thead><tbody>";
                        $.each(w, (index, value) => {
                            tablehtml += `<tr><td>${value.OdaNo}</td><td>${value.OdaAdi}</td><td>${value.Durum}</td></tr>`
                        });
                        tablehtml += "</tbody></table>";
                        $("#odaDurumTablo").html(tablehtml);
                    }
                }
            });
        }
    </script>

}




@*<script src="~/Admin/assets/plugins/sweet-alert/sweetalert2.all.min.js"></script>
    @if (TempData["success"] != null)
    {
        <script>
                Swal.fire({
                    icon: 'success',
                    title: 'Başarılı',
                    confirmButtonText:'Tamam',
                    text: '@Html.Raw(TempData["success"])'
                })
        </script>
    }
    @if (TempData["error"] != null)
    {
        <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Hata',
                    confirmButtonText:'Tamam',
                    text: '@Html.Raw(TempData["error"])'
                })
        </script>
    }
    @if (TempData["warning"] != null)
    {
        <script>
                Swal.fire({
                    icon: 'warning',
                    title: 'Dikkat',
                    confirmButtonText:'Tamam',
                    text: '@Html.Raw(TempData["warning"])'
                })
        </script>
    }
    @if (TempData["info"] != null)
    {
        <script>
                Swal.fire({
                    icon: 'info',
                    title: 'Bilgi',
                    confirmButtonText:'Tamam',
                    text:'@Html.Raw(TempData["info"])'
                })
        </script>
    }*@