@model Rezervasyon
@{
    ViewData["Title"] = "Rezervasyon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="section-padding gray-bg">
    <div class="auto-container">
        <div class="section_heading text-center mb_55">
            <h2 class="section_heading_title_big">
                Rezervasyon İşlemi
            </h2>
        </div>
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">#</th>
                    <th scope="col">Giriş Tarihi</th>
                    <th scope="col">Çıkış Tarihi</th>
                    <th scope="col">Ücret</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Idno</td>
                    <td>@Model.GirisTarihi.ToString("dd/MM/yyyy")</td>
                    <td>@Model.CikisTarihi.ToString("dd/MM/yyyy")</td>
                    <td>@Model.Ucret</td>
                </tr>
            </tbody>

        </table>



        <a href="~/home/rezervasyonOnay/@Model.Idno && @Model.RandomKey" id="btn1" name="onayla" class="btn btn-success">Rezervasyon Onayla</a>


        @*@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { Act = "0" }))
        {
            <input type="submit" value="Click Me!" />
        }
        <input class="form-control" placeholder="@Model.Act">*@
        <a href="~/home/rezervasyoniptal/@Model.Idno && @Model.RandomKey" id="btn1" name="iptal" class="btn btn-danger">Rezervasyon İptal</a>


        @*<button id="deneme" name="iptal et" class="btn btn-danger" type="button" onclick="location.href='@Url.Action("Index","Home")'">Rezervasyon İptal Et</button>*@

    </div>
</section>

@*<script>
    $(".category").click(function () {
        //First
        var firstValue = $(this).attr(@Model.Act);
        alert("First value= " + firstValue);
        //Second
        //Attr data change
        $(this).attr(@Model.Act, 0);
        //Get data-status
        var secondValue = $(this).attr(@Model.Act);
        alert("Last value= " + secondValue);
    });
</script>*@